/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-family: "Work Sans", sans-serif;
}

body {
  background: #1b1b1b;
}

html *.container {
  padding-left: 0;
  padding-right: 0;
}
@media (max-width: 420px) {
  html *.container {
    max-width: 280px;
  }
}

.navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar .container a {
  z-index: 20;
}
.navbar .mobile {
  display: flex;
  margin-top: 24px;
}
.navbar .desktop {
  display: none;
  margin-top: 50px;
}
@media (min-width: 420px) {
  .navbar .mobile {
    display: none;
  }
  .navbar .desktop {
    display: flex;
  }
  .navbar .desktop a.register-link {
    z-index: 20;
    color: white;
    background: transparent;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.8px;
    letter-spacing: 2.5px;
    text-decoration: none;
    border: 1px solid white;
    padding: 10px 20px;
  }
  .navbar .desktop a.register-link:hover {
    color: black;
    background: white;
  }
}

.hero {
  position: relative;
  min-height: 100vh;
}
.hero .hero-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
}
.hero .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  height: 100vh;
  padding: 60px 0;
}
.hero .container .logo {
  width: 160px;
  height: 140px;
}
.hero .container .hero-text {
  max-width: 240px;
  color: white;
  font-weight: 300;
  font-size: 26px;
  text-align: center;
  line-height: 32px;
  margin-top: 80px;
}
.hero .container .hero-register {
  z-index: 20;
  color: white;
  background: transparent;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.8px;
  letter-spacing: 2.5px;
  text-decoration: none;
  border: 1px solid white;
  padding: 10px 20px;
  margin-top: 50px;
}
.hero .container .hero-register:hover {
  color: black;
  background: white;
}
.hero .desktop {
  display: none;
}
@media (min-width: 420px) {
  .hero .mobile {
    display: none;
  }
  .hero .desktop.hero-image {
    display: block;
    background: black;
    height: 100vh;
  }
  .hero .container {
    padding: 100px 0;
  }
  .hero .container .logo {
    width: 245px;
    height: 206px;
  }
  .hero .container .hero-text {
    font-size: 40px;
    line-height: 48px;
    max-width: 624px;
    margin-top: 80px;
  }
  .hero .container .hero-register {
    margin-top: 70px;
  }
}

.details {
  display: flex;
  flex-direction: column;
  position: relative;
  padding-top: 40px;
  font-size: 16px;
  font-weight: 300;
  line-height: 21px;
  color: #1b3534;
  margin: 0 auto;
  overflow-y: hidden;
  background: #ebe6de;
}
.details .detail-text {
  margin-bottom: 320px;
}
.details .detail-text .heading {
  font-size: 30px;
  font-weight: 400;
  line-height: 36px;
  margin-bottom: 30px;
}
.details .detail-text .description {
  margin-bottom: 30px;
}
.details .detail-text .description p + p {
  margin-top: 20px;
}
.details .detail-text .register {
  z-index: 20;
  color: white;
  background: transparent;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.8px;
  letter-spacing: 2.5px;
  text-decoration: none;
  border: 1px solid white;
  padding: 10px 20px;
  color: #545554;
  line-height: 16.8px;
  width: 175px;
  height: 40px;
  border: 1px solid #545554;
  padding: 10px 20px;
}
.details .detail-text .register:hover {
  color: black;
  background: white;
}
.details .detail-text .register:hover {
  background: #545554;
  color: white;
}
.details .mobile.detail-image {
  position: absolute;
  bottom: -50px;
  left: 0;
  width: 100%;
  mix-blend-mode: multiply;
}
.details .desktop.detail-image {
  display: none;
}
@media (min-width: 420px) {
  .details .mobile {
    display: none;
  }
  .details .detail-text {
    max-width: 450px;
    margin: 100px 0;
    margin-left: 50%;
  }
  .details .detail-text .heading {
    font-size: 32px;
    line-height: 42px;
    margin-bottom: 50px;
  }
  .details .detail-text .description {
    margin-bottom: 50px;
  }
  .details .desktop.detail-image {
    display: inline;
    position: absolute;
    bottom: -250px;
    left: 0;
  }
}

.register-form {
  color: #1b3534;
  background: #d9ead2;
  padding-top: 35px;
  padding-bottom: 70px;
}
.register-form .register-heading {
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  padding-bottom: 1rem;
  text-align: center;
}
.register-form .register-description {
  font-size: 16px;
  text-align: center;
  font-weight: 300;
  line-height: 21px;
  padding-bottom: 1rem;
}
.register-form form {
  display: flex;
  flex-direction: column;
}

.control-col input {
  font-size: 18px;
  line-height: 21px;
  width: 100%;
  margin: 25px 0;
  background: transparent;
  border: none;
  border-bottom: 1px solid black;
  padding-bottom: 20px;
}
.control-col input::placeholder {
  color: #1b3534;
}
.control-col input:focus {
  outline: none;
}
.control-col input:focus::placeholder {
  color: #d9ead2;
}

.select-control {
  cursor: pointer;
}
.select-control:after {
  content: "";
  width: 25px;
  height: 12.5px;
  position: absolute;
  right: 0;
  bottom: 50%;
  transform: translate(-50%, -50%);
  background-image: url("/assets/mobile/Path 1.svg");
  background-repeat: no-repeat;
}
.select-control select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  position: relative;
  cursor: pointer;
  width: 100%;
  background: transparent;
  border: none;
  border-bottom: 1px solid black;
  font-size: 18px;
  line-height: 21px;
  padding-bottom: 20px;
  margin: 25px 0;
}
.select-control select:focus {
  outline: none;
}

.register-submit-btn {
  z-index: 20;
  color: white;
  background: transparent;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.8px;
  letter-spacing: 2.5px;
  text-decoration: none;
  border: 1px solid white;
  padding: 10px 20px;
  margin: 55px auto;
  cursor: pointer;
  color: white;
  background: #1b3534;
  border: 1px solid #1b3534;
  width: 175px;
}
.register-submit-btn:hover {
  color: black;
  background: white;
}
.register-submit-btn:hover {
  border: 1px solid #1b3534;
  background: transparent;
  color: #1b3534;
}

.contact-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}
.contact-details .contact-logo {
  width: 80px;
}
.contact-details .contact-text {
  font-weight: 300;
  font-size: 16px;
  max-width: 215px;
  text-align: center;
  line-height: 20px;
}

@media (min-width: 420px) {
  .register-form {
    padding-top: 100px;
  }
}
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45px;
  color: white;
  background: #8a8889;
  font-size: 10px;
  text-align: center;
}
footer span {
  cursor: pointer;
}

/*# sourceMappingURL=style.css.map */
