@import "./reset.scss";
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400&display=swap");

// Variables
$mobile-breakpoint: 420px;
$desktop-breakpoint: 1440px;

// Styling
html {
  font-family: "Work Sans", sans-serif;
}

body {
  background: #1b1b1b;
}

html *.container {
  @media (max-width: $mobile-breakpoint) {
    max-width: 280px;
  }

  padding-left: 0;
  padding-right: 0;
}

.navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .mobile {
    display: flex;
    margin-top: 24px;
  }

  .desktop {
    display: none;
    margin-top: 50px;
  }

  @media (min-width: $mobile-breakpoint) {
    .mobile {
      display: none;
    }

    .desktop {
      display: flex;
    }
  }
}

.hero {
  position: relative;
  min-height: 100vh;

  .hero-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    height: 100vh;
    padding: 60px 0;

    .logo {
      width: 160px;
      height: 140px;
    }

    .hero-text {
      max-width: 240px;
      color: white;
      font-weight: 300;
      font-size: 26px;
      text-align: center;
      line-height: 32px;
      margin-top: 80px;
    }

    .hero-register {
      margin-top: 50px;
      img {
        width: 175px;
        height: 40px;
        margin: 0 auto;
      }
    }
  }

  .desktop {
    display: none;
  }

  @media (min-width: $mobile-breakpoint) {
    .mobile {
      display: none;
    }

    .desktop.hero-image {
      display: block;
      background: black;
      height: 100vh;
    }

    .container {
      padding: 100px 0;

      .logo {
        width: 245px;
        height: 206px;
      }

      .hero-text {
        font-size: 40px;
        line-height: 48px;
        max-width: 624px;
        margin-top: 80px;
      }

      .hero-register {
        margin-top: 70px;
      }
    }
  }
}
